<!DOCTYPE html>
<html lang="zh-CN">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <script type="text/javascript" src="{{ url_for('static', filename='html/js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='html/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='html/js/in-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='html/js/spotlight.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='html/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='html/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='html/css/new.css') }}">
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $('.J_search').submit(function(e) {
                var _node = $(this);
                var query = _node.find('input').val();
                e.preventDefault();
                window.open('http://www.google.com/search?q=site:ec-lab.com/t%20' + query, "_blank");
            });
        });
    </script>
    <style type="text/css">
        .totop a {
            display: block;
            width: 40px;
            height: 35px;
            background: url('/static/images/totop.gif') no-repeat;
            text-indent: -9999px;
            text-decoration: none;
        }

        .totop a:hover {
            background-position: 0 -35px;
        }
    </style>
    <title>EC-Lab</title>
</head>

<body>
<!-- 导航栏 -->
<div class="navbar navbar-inverse navbar-fixed-top top-navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">EC-Lab</a>
            <div class="divider-vertical"></div>
                        <div class="nav-collapse collapse">
            
                <ul class="nav">
                                            <li class="active">
                            <a href="/" class="item-topic">首页</a>
                        </li>
                                            <li>
                            <a href="/develop" class="item-members">实验室简介</a>
                        </li>
                                            <li>
                            <a href="/develop" class="item-book">新闻</a>
                        </li>
                                            <li>
                            <a href="/develop" class="item-timeline">数据挖掘平台</a>
                        </li>
                                            <li>
                            <a href="/develop" class="item-nav">BBS</a>
                        </li>
                                    </ul>
            </div>
            <!--/.nav-collapse -->
            <form class="navbar-search pull-left J_search">
                <input type="text" class="search-query" placeholder="" x-webkit-speech="">
            </form>
            <div class="nav-collapse collapse pull-right">
                <ul class="nav account-menu">
                                           <!--  <li><a href="/">首页</a></li> -->
                    <li><a href="/develop"><span class="">登录</span></a></li>
                    <li><a href="/develop" class="">注册</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 主体 -->
<div class="container-fluid container mt15">
    <div class="row-fluid">
    <!-- 左边栏 -->
        <div class="span9 newleft">
            <div class="sidebox container-box mt10 weixin">
                <div class="ui-header">
                    <span class="title">栏目1</span>
                </div>
                <div class="ui-header">
                    <span class="title">栏目2</span>
                </div>
            </div>
        </div>
    <!-- 右边栏 -->
        <div class="span3 newright">
            <div class="sidebox container-box mt10 weixin">
                <div class="ui-header">
                    <span class="title">还在建设。。憋急</span>
                </div>
                <div class="ui-content">
                    <!-- <span class="title">栏目内容</span> -->
                    <img src="{{ url_for('static', filename='html/image/develop.jpg') }}" alt="" />
                </div>
            </div>
        </div>
        <!-- 右边栏结束 -->
    </div>
</div>
<!-- 底部 -->
<div class="footer mt15">
    <div class="container">
        <div class="footer-bg">
            <p class="links">
                <span>©2016</span>
                <span>Powered by Flask</span>
                <span>, All rights reserved.</span>
            </p>
            <p class="fade-color">
                <span>Ruyi Yin</span>
            </p>
        </div>
    </div>
</div>
<div style="display: none;"></div>

</body>