{% extends 'layout.html' %}

{% block spotlight %}
<div class="container-fluid container mt15">
    <div id="spotlight">
        <div class="container">
            <div class="slideshow" data-editable="type=list;name=slideshow"  data-type="fade" data-interval="10000" data-animation-time="1000">
                <div class="slides-wrapper">
                    <a class="slide active" >
                        <!-- 940px400px -->
                        <img src="{{ url_for('static', filename='html/images/homepage1.jpg') }}" alt="" />
                            <!--                 <div class="carousel-caption">
                            <h3>hahahahah</h3>
                            <p>hhhh</p>
                            </div> -->
                    </a>
                    <a class="slide " >
                        <img src="{{ url_for('static', filename='html/images/homepage2.jpg') }}" alt="" />
                    </a>
                    <a class="slide " >
                        <img src="{{ url_for('static', filename='html/images/homepage3.jpg') }}" alt="" />
                    </a>

                </div>
                <div class="indicators">
                    <a class="indicator active" href="#" data-slide="1"></a>
                    <a class="indicator " href="#" data-slide="2"></a>
                    <a class="indicator " href="#" data-slide="3"></a>
                </div>
            </div>
        </div>    
    </div>
</div>
{% endblock %}

{% block main %}
<!-- 主题 -->
    <div class="row-fluid">
    <!-- 左边栏 -->
        <div class="span9 left">
        <div class="topics container-box deprecated-mt10">
        <div class="ui-header">
            <span class="bread-nav">
                <a class="node-link" href="/develop">推荐阅读</a>
            </span>
            </div>
            <!-- news -->
            {% if template_variables.homepage_news %}
                {% for one_news in template_variables.homepage_news %}
                <div class="topic-item">
                    <a href="/news">
                        <img src="{{ one_news.news_avatar }}" alt="" class="avatar">
                    </a>
                    <div class="main">
                        <h3 class="title">
                            <a href="/">{{ one_news.title }}</a>
                        </h3>
                        <div class="meta">
                            {% if one_news.tags %}
                                {% for tag in one_news.tags %}
                                <span class="node"><a href="/">{{ tag }}</a></span>
                                {% endfor %}
                            {% endif %}
                             • 
                            <span class="username">
                                <a href="/">{{ one_news.author }}</a>
                            </span> • 
                            <span class="last-touched">{{ one_news.news_time }}</span>
                            {% if one_news.comefrom %}
                             • <span class="last-reply-username">来自
                                <a href="/"><strong>XX网站</strong></a>
                            </span>
                            {% endif %}

                        </div>
                    </div>
                    {% if one_news.readtime %}
                        <div class="count"><a href="/">阅读3</a></div>
                    {% endif %}
                </div>
                {% endfor %}
            {% endif %}
            <!-- news end -->
            </div>

        </div>
    <!-- 右边栏 -->
    <div class="span3 right">
        <!-- 右边栏项目1 -->
        {% if current_user.username %}
        <div class="usercard container-box">
            <div class="ui-header">
                <a href="/develop">
                    <img src="{{ current_user.avatar }}" alt="" class="avatar" />
                </a>
                <div class="username">{{ current_user.username }}</div>
                <div class="username">UID:{{ current_user.userid }}</div>
                <div class="website"><a href=""></a></div>
            </div>
<!--             <div class="ui-content">

            </div> -->
        </div>
        {% else %}
        <div class="login-box container-box">
            <div class="ui-header">
                <span class="title">
                    <div class="explanation">EC-Lab,SME,UESTC</div>
                    <div class="description">电子商务实验室<br>经济与管理学院,电子科技大学</div>
                </span>
            </div>
            <div class="ui-content tc">
                <a class="btn btn-small mr10" type="button" href="/login">登录</a>
                <a class="btn btn-small mr10" type="button" href="/register">注册</a>
                <div>已注册用户也可以 <a class="" type="button" href="/forgot">找回密码</a></div>
            </div>
        </div>
        {% endif %}
        <!--  -->
        <div class="sidebox container-box mt10 community-status">
            <div class="ui-header">
                <span class="title">公告</span>
            </div>
            <div class="ui-content">
                <dl>
                    v1还在开发中..
                </dl>
            </div>
        </div>
        <!--  -->
        <div class="sidebox container-box mt10 hot-nodes">
        <div class="ui-header">
            <span class="title">本站快链</span>
        </div>
        <div class="ui-content">
                            <a href="/">快链1</a>
                            <a href="/">快链2</a>
                            <a href="/">快链10</a>
                            <a href="/">快链1t</a>
                            <a href="/">意见反馈</a>
                            <a href="/">快链1</a>
                            <a href="/">快链1a</a>
                            <a href="/">快链1</a>
                    </div>
        </div>
        <!-- 右边栏项目2 -->
        <div class="sidebox container-box mt10 friends">
        <div class="ui-header">
            <span class="title">友情链接</span>
        </div>
        <div class="ui-content">
        <!-- 300px70px -->
            <p><a href="http://www.uestc.edu.cn/"><img src="{{ url_for('static', filename='html/images/friend1.jpg') }}" alt="" /></a></p>
            <p><a href="http://www.mgmt.uestc.edu.cn/"><img src="{{ url_for('static', filename='html/images/friend2.jpg') }}" alt="" /></a></p>
            <!-- <p><a href="/"><img src="/static/images/coding_logo.png" alt="" style="width:80%;" /></a></p>
            <p><a href="/"><img src="/static/images/angularjs_cn_logo.png" alt="" style="width:90%;" /></a></p>
            <p><a href="/"><img src="/static/images/teambition_logo.png" alt="" style="width:80%; margin:5px 0 15px 10px;" /></a></p>
            <p><a href="/"><img src="/static/images/ionic-logo-for-friends.png" alt="" style="width:180px;" /></a></p> -->
        </div>
        </div>
        <!-- 右边栏项目2 -->
    </div>
    </div>
{% endblock %}