<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>demo</title>

    <!-- Bootstrap Core CSS -->
    <style>
    img {
        border: 2px solid #cccccc;
        border-radius: 50%;
        height: 200px;
        width: 200px;
    }
    </style>
</head>

<body>
    <p align="center">
        <img src="{{ url_for('static', filename='test/test.jpg') }}" />
    </p>
    <h1 align="center">The Website is Developing</h1>
    <h2 align="center">Using Flask O(∩_∩)O哈哈~</h2>
    <address align="center">
  	    <strong>If u wanna to help, u can go to</strong><br>
        <a href="https://github.com/UESTC-ECLAB/euwdas">https://github.com/UESTC-ECLAB/euwdas</a>
    </address>
<script>
</script>

</body>

</html>    