<!DOCTYPE html>
<html lang="zh-CN">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <script type="text/javascript" src="{{ url_for('static', filename='html/js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='html/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='html/js/in-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='html/js/spotlight.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='html/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='html/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='html/css/new.css') }}">
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $('.J_search').submit(function(e) {
                var _node = $(this);
                var query = _node.find('input').val();
                e.preventDefault();
                window.open('http://www.google.com/search?q=site:ec-lab.com/t%20' + query, "_blank");
            });
        });
    </script>
    <style type="text/css">
        .totop a {
            display: block;
            width: 40px;
            height: 35px;
            background: url('/static/images/totop.gif') no-repeat;
            text-indent: -9999px;
            text-decoration: none;
        }

        .totop a:hover {
            background-position: 0 -35px;
        }
    </style>
    <title>EC-Lab</title>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top top-navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">EC-Lab</a>
            <div class="divider-vertical"></div>
                        <div class="nav-collapse collapse">
            
                <ul class="nav">
                                            <li class="active">
                            <a href="/" class="item-topic">首页</a>
                        </li>
                                            <li>
                            <a href="/" class="item-members">实验室介绍</a>
                        </li>
                                            <li>
                            <a href="/" class="item-book">新闻公告</a>
                        </li>
                                            <li>
                            <a href="/" class="item-timeline">数据挖掘平台</a>
                        </li>
                                            <li>
                            <a href="/" class="item-nav">BBS</a>
                        </li>
                                    </ul>
            </div>
            <!--/.nav-collapse -->
            <form class="navbar-search pull-left J_search">
                <input type="text" class="search-query" placeholder="" x-webkit-speech="">
            </form>
            <div class="nav-collapse collapse pull-right">
                <ul class="nav account-menu">
                                           <!--  <li><a href="/">首页</a></li> -->
                    <li><a href="/"><span class="">登录</span></a></li>
                    <li><a href="/" class="">注册</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="spotlight">
    <div class="container">
        <div class="slideshow" data-editable="type=list;name=slideshow"  data-type="fade" data-interval="10000" data-animation-time="1000">
        <div class="slides-wrapper">
                <a class="slide active" >
                <img src="{{ url_for('static', filename='test/slide1.jpg') }}" alt="" />
                <div class="carousel-caption">
                <h3>hahahahah</h3>
                <p>hhhh</p>
                </div>
                </a>
                <a class="slide " >
                <img src="{{ url_for('static', filename='test/slide2.jpg') }}" alt="" />
                </a>

        </div>
        <div class="indicators">
                    <a class="indicator active" href="#" data-slide="1"></a>
                    <a class="indicator " href="#" data-slide="2"></a>
        </div>
        </div>
    </div>    
</div>

<div class="container-fluid container mt15">
    <div class="row-fluid">
    <!-- 左边栏 -->
        <div class="span9 left">
            <div class="topics container-box deprecated-mt10">
        <div class="ui-header">
            <span class="bread-nav">
                <a class="node-link" href="http://f2e.im/node/share">新闻</a>
            </span>
            </div>

                <!-- 新闻！！ -->
                <div class="topic-item">
                    <a href="/">
                        <img src="./" alt="" class="avatar">
                    </a>
                    <div class="main">
                    <h3 class="title">
                        <a href="/">新闻标题1</a>
                    </h3>
                    <div class="meta">
                        <span class="node"><a href="/">tag1</a></span>
                        <span class="node"><a href="/">tag2</a></span> • 
                        <span class="username">
                            <a href="/">作者1</a>
                            </span> • 
                            <span class="last-touched">7 月前</span> • 
                            <span class="last-reply-username">来自
                            <a href="/"><strong>XX网站</strong></a>
                        </span>
                    </div>
                </div>
                <div class="count"><a href="/">阅读3</a></div>
                </div>
                <!-- 新闻结束！！ -->

            </div>

        </div>
    <!-- 右边栏 -->
    <div class="span3 right">
        <!-- 右边栏项目1 -->
        <div class="login-box container-box">
            <div class="ui-header">
                <span class="title">
                    <div class="explanation">EC-Lab</div>
                    <div class="description">一句话</div>
                </span>
            </div>
            <div class="ui-content tc">
                <a class="btn btn-small mr10" type="button" href="/login">登录</a>
                <a class="btn btn-small mr10" type="button" href="/register">注册</a>
                <div>已注册用户也可以 <a class="" type="button" href="/forgot">找回密码</a></div>
        </div>
        </div>
        <!--  -->
        <div class="sidebox container-box mt10 community-status">
            <div class="ui-header">
                <span class="title">公告</span>
            </div>
            <div class="ui-content">
                <dl>
                    v1还在开发中..
                </dl>
            </div>
        </div>
        <!--  -->
        <div class="sidebox container-box mt10 hot-nodes">
        <div class="ui-header">
            <span class="title">本站快链</span>
        </div>
        <div class="ui-content">
                            <a href="/">哈哈</a>
                            <a href="/">帮助</a>
                            <a href="/">Sublime</a>
                            <a href="/">CoffeeScript</a>
                            <a href="/">意见反馈</a>
                            <a href="/">VIM</a>
                            <a href="/">JavaScript</a>
                            <a href="/">Git</a>
                    </div>
        </div>
        <!-- 右边栏项目2 -->
        <div class="sidebox container-box mt10 friends">
        <div class="ui-header">
            <span class="title">友情链接</span>
        </div>
        <div class="ui-content">
            <p><a href="/"><img src="/static/images/python_china_logo.jpg" alt="" /></a></p>
            <p><a href="/"><img src="/static/images/ruby_china_logo.png" alt="" /></a></p>
            <p><a href="/"><img src="/static/images/coding_logo.png" alt="" style="width:80%;" /></a></p>
            <p><a href="/"><img src="/static/images/angularjs_cn_logo.png" alt="" style="width:90%;" /></a></p>
            <p><a href="/"><img src="/static/images/teambition_logo.png" alt="" style="width:80%; margin:5px 0 15px 10px;" /></a></p>
            <p><a href="/"><img src="/static/images/ionic-logo-for-friends.png" alt="" style="width:180px;" /></a></p>
        </div>
        </div>
        <!-- 右边栏项目2 -->
    </div>
</div>

<div class="footer mt15">
    <div class="container">
        <div class="footer-bg">
            <p class="links">
                <span>©2016</span>
                <span>Powered by Flask</span>
                <span>, All rights reserved.</span>
            </p>
                        <p class="fade-color">
                                <span>Ruyi Yin</span>
            </p>
                    </div>
    </div>
</div>
<div style="display: none;"></div>

</body>

</html>    